* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    width: 100%;
    height: auto;
    position:relative;
    background-image: url('team2.png');
    background-position: center;
    background-repeat: no-repeat;
}
/*top*/
nav#TopNav{
    width: 80%;
    height: auto;
    position: absolute;
    background: rgb(0, 0, 0,0.5);
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 30px;
}
#title{
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color:honeydew;
    text-shadow: 2px 5px 5px black;
}
/**/
nav#MiddleNav{
    width: 70%;
    height: auto;
    position: absolute;
    background: rgb(0, 0, 0,0.5);
    margin-top: 15%;
    margin-left: 15%;
    border-radius: 30px;
}
.mainPart{
    
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
    margin:0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    display: table;
    padding: 10px;
    border:1px solid #ccc;
    background: rgb(250, 250, 250,0.8);
    border-radius: 30px;
}
.mainPart .box{
    float: left;
    width: 21%;
    height: auto;
    /*border: 1px solid #848484;*/
    padding: 1%;
    margin-right: 7px;
}
.mainPart .box:nth-child(5n+4){
    margin-right: 0;
}
.mainPart .box *{
    display: table;
    margin: 0 auto;
}
.mainPart .box  img{
    width: 100%;
    height: auto;
}
.mainPart .box p{
    text-align: center;
    margin-top: 10%;
}
.separator{
    width: 100%;
    height: 20%;
    float: left;
}