* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url('last.png');
    background-size: cover;
}

h1 {
    color: darkgray;
    text-align: center;
    padding-top: 5%;
}

img {
    height: auto;
    width: 30%;
    padding-left: 35%;
    padding-top: 3%;
    padding-bottom: 4%;

}

div.info {
    padding-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: 60%;
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    margin-bottom: 15px;
    color: cornflowerblue;
    font-size: 150%;
}

div.info h4 {
    padding-bottom: 0.3%;
    padding-top: 0.7%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    color: black;
    background-color: darkgray;
}